# ข้อมูลการเชื่อมต่อ Google Sheets
# แนะนำให้ใช้ลิงก์ที่ Publish as CSV
GOOGLE_SHEET_URL="GOOGLE_SHEET_WEB_PUBLIC_URL_PLACEHOLDER"

# App Assets
APP_NAME="UDON THANI CREDIT BANK CENTER"
APP_LOGO_URL="https://pmss.udonpeo.go.th/images/login/300x300.png"
APP_FAVICON_URL="https://pmss.udonpeo.go.th/images/favicons/favicon.png"

APP_ENV=production